.editor-item {
    position: relative;

    .add-new {
        position: absolute;
        left: -50px;
        width: 40px;
        height: 40px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #e2e0e0;
        color: #ffffff;
        top: -8px;
        cursor: pointer;
    }
}